@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom dark mode background and text defaults */
html.dark {
  background-color: #18181b;
}
body.dark {
  background-color: #18181b;
  color: #e5e7eb;
}
